.user-profile-container {
  padding: 20px;
  width: 300px; /* Sesuaikan lebar sesuai kebutuhan */
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.user-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 10px;
}

.theme-selector {
  margin-bottom: 15px;
}

.profile-menu {
  margin-top: 10px;
}

label {
  margin-right: 10px;
}
