<div class="container">
  <main>
    <h2>Hai budi</h2>
    <p>mau pesan apa hari ini.</p>

    <p-card header="Toko Makanan Weannak Banget">
      <p class="m-0">close order in 10:30 </p>
    </p-card>
    

    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
  </main>

  <footer>
    <p>&copy; 2023 Hak Cipta Dilindungi</p>
  </footer>
</div>
