<div>
  <app-toast></app-toast>
</div>

<p-toolbar>
  <ng-template #start>
    <p-button
      icon="pi pi-arrow-left"
      class="mr-2"
      text
      severity="secondary"
      (onClick)="derectToMenuPage()"
    />
  </ng-template>
  <ng-template #center>
    <span><strong>Profile</strong></span>
  </ng-template>
  <ng-template #end> </ng-template>
</p-toolbar>

<div class="d-flex justify-center m-3">
  <p-avatar
    image="{{ user?.imageUrl }}"
    size="xlarge"
    shape="circle"
    styleClass="mr-2"
  ></p-avatar>
</div>

<div class="p-1">
  <div class="d-flex flex-column gap-2 my-2">
    <label for="username">Username</label>
    <input
      pInputText
      id="username"
      aria-describedby="username-help"
      [(ngModel)]="user!.name"
      disabled="{{!isEditing}}"
    />
  </div>
  <div class="d-flex flex-column gap-2 my-2">
    <label for="username">Email</label>
    <input
      pInputText
      id="email"
      aria-describedby="username-help"
      [(ngModel)]="user!.email"
      disabled="{{!isEditing}}"

    />
  </div>
  <div class="d-flex flex-column gap-2 my-2">
    <label for="delivery-location">Delivery location</label>

    <p-autocomplete
      [(ngModel)]="user!.address"
      [forceSelection]="true"
      [suggestions]="filteredCountries || []"
      (completeMethod)="filterCountry($event)"
      optionLabel="name"
      fluid="true"
      disabled="{{!isEditing}}"

    />
    <small id="delivery-location-help">Type and select your location to delivery your food.</small>

  </div>

  <div class="my-4">
    <p-button
      *ngIf="!isEditing"
      (click)="toggleEdit()"
      label="Edit Profile"
      severity="secondary"
      styleClass="w-100"
      class="w-100"
    ></p-button>
    <ng-container *ngIf="isEditing">
      <div style="display: flex; justify-content: center" class="gap-2">
        <p-button
          (click)="saveProfile()"
          label="Save"
          severity="success"
          styleClass="w-100"
          class="w-100"
        ></p-button>
        <p-button
          (click)="cancelEdit()"
          label="Cancel"
          severity="danger"
          styleClass="w-100"
          class="w-100"
        ></p-button>
      </div>
    </ng-container>
  </div>
</div>
