<div class="product-card">
  <div class="product-card__content">
    <div class="product-card__image-container">
      <img
        class="product-card__image"
        [src]="product?.urlImage"
        [alt]="product?.name"
      />
    </div>
    <div class="product-card__details">
      <div>
        <h3 class="product-card__name">{{product?.name}}</h3>
        <p class="product-card__description">{{product?.description}}</p>
      </div>
      <div class="product-card__price-and-button">
        <span class="product-card__price"><strong>{{product?.price}}</strong></span>
        <p-button
          variant="outlined"
          severity="info"
          label="Add"
          class="product-card__button"
          size="small"
        ></p-button>
      </div>
    </div>
  </div>
</div>
