<div class="product-card">
  <div class="product-card__content">
    <div class="product-card__image-container">
      <img
        class="product-card__image"
        src="https://esb-order.oss-ap-southeast-5.aliyuncs.com/images/jkid/menu/MNU_1848_20250124103408_thumb.webp"
        alt="Melati Coco"
      />
    </div>
    <div class="product-card__details">
      <div>
        <h3 class="product-card__name">Melati Coco</h3>
        <p class="product-card__description">rosela, strawberry, hydrococo</p>
      </div>
      <div class="product-card__price-and-button">
        <span class="product-card__price"><strong>Rp29.000</strong></span>
        <p-button
          variant="outlined"
          severity="info"
          label="Add"
          class="product-card__button"
          size="small"
        ></p-button>
      </div>
    </div>
  </div>
</div>
