<main>
  <app-menu-header (toggleDrawer)="toggleDrawer()"></app-menu-header>
  <section #banner>
    <div style="margin-top: 72px">
      <h2>Hai budi</h2>
      <p>mau pesan apa hari ini.</p>
    </div>
  </section>

  <app-shop-info-card></app-shop-info-card>
  <div style="padding-top: 24px">
    @for (product of products; track product.id) {
    <app-product [product]="product"></app-product>
    }
  </div>

  <p-drawer
    ngClass="p-drawer"
    [(visible)]="isVisible"
    position="right"
    [appendTo]="container.nativeElement"
    [style]="{ position: 'absolute', width:'100%'}"
  >
    <app-user-profile></app-user-profile>
  </p-drawer>
</main>
